on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

name: Linux x86_64

jobs:
  check:
    name: Check code
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0
        with:
          components: clippy

      #      - name: Rust cache
      #        uses: swatinem/rust-cache@v2

      - name: cargo clippy
        run: cargo clippy -- -D warnings

  test:
    name: Run tests
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0

      #      - name: Rust cache
      #        uses: swatinem/rust-cache@v2

      - name: cargo build
        run: cargo build

      - name: cargo test
        run: cargo test -- --nocapture

  fmt:
    name: Check formatting
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0
        with:
          components: rustfmt

      #      - name: Rust cache
      #        uses: swatinem/rust-cache@v2

      - name: cargo fmt
        run: cargo fmt --all -- --check

  doc:
    name: Check docs
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0
        with:
          components: rust-docs

      #      - name: Rust cache
      #        uses: swatinem/rust-cache@v2

      - name: cargo doc
        run: cargo doc

  generate:
    name: Generate low-level API
    runs-on: ubuntu-20.04
    steps:
      - name: Set up dependencies
        run: |
          sudo apt-get update
          sudo apt-get install clang

      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Rust
        uses: dtolnay/rust-toolchain@1.84.0

      #      - name: Rust cache
      #        uses: swatinem/rust-cache@v2

      - name: cargo build
        run: cargo build --manifest-path main/low/Cargo.toml --features generate
