on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

name: Linux armv7

jobs:
  check:
    name: Build
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: cargo build
        uses: houseabsolute/actions-rust-cross@v1
        with:
          command: build
          target: armv7-unknown-linux-gnueabihf